-- MySQL dump 10.13  Distrib 8.4.9, for Linux (x86_64)
--
-- Host: localhost    Database: acore_world
-- ------------------------------------------------------
-- Server version	8.4.9

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `item_template`
--
-- WHERE:  entry BETWEEN 90000 AND 90200 OR entry = 42991

LOCK TABLES `item_template` WRITE;
/*!40000 ALTER TABLE `item_template` DISABLE KEYS */;
REPLACE INTO `item_template` VALUES (42991,4,0,-1,'Swift Hand of Justice',6337,7,134221824,0,1,0,0,12,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,251,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,59906,1,0,0,-1,0,-1,15600,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,1,'',0,0,0,0,0,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,12340),(90000,2,8,-1,'Frostmourne',46609,7,134221824,0,1,0,0,17,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1032,1,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,3400,0,0,28282,1,0,0,-1,0,-1,7598,1,0,0,-1,0,-1,15464,1,0,0,-1,0,-1,17484,2,0,0,-1,0,-1,43008,1,0,0,-1,0,-1,7,'',0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90001,2,8,-1,'Ashbringer',23875,7,134221824,0,1,0,0,17,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,997,16392,1,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,3600,0,0,18112,2,0,0,-1,0,-1,25423,2,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90002,2,8,-1,'Corrupted Ashbringer',35097,7,134221824,0,1,0,0,17,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,997,16392,1,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,3600,0,0,28282,1,0,0,-1,0,-1,28414,2,0,0,-1,0,-1,7598,1,0,0,-1,0,-1,15464,1,0,0,-1,0,-1,17484,2,0,0,-1,0,-1,7,'Blade of the Scarlet Highlord',0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90003,2,7,-1,'Thunderfury, Blessed Blade of the Windseeker',30606,7,134221824,0,1,0,0,13,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,995,516,1,0,0,0,0,0,0,NULL,8,9,NULL,0,NULL,1900,0,0,99992,2,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90004,4,6,-1,'Skullflame Shield',30993,7,134221824,0,1,0,0,14,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,996,257,0,0,0,0,0,0,0,NULL,10,0,NULL,10,NULL,1000,0,0,99015,1,0,0,-1,0,-1,99016,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,1,4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90005,2,10,-1,'Atiesh, Greatstaff of the Guardian',35631,7,134221824,0,1,0,0,17,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,5,36872,1,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,2900,0,0,28148,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,2,2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90010,4,1,-1,'Nemesis Skullcap',34369,7,134221824,0,1,0,0,1,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,998,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90011,4,1,-1,'Nemesis Spaulders',34022,7,134221824,0,1,0,0,3,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,998,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90012,4,1,-1,'Nemesis Robes',34014,7,134221824,0,1,0,0,20,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,998,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90013,4,1,-1,'Nemesis Belt',34011,7,134221824,0,1,0,0,6,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,998,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90014,4,1,-1,'Nemesis Boots',34015,7,134221824,0,1,0,0,8,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,998,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90015,4,1,-1,'Nemesis Bracers',34012,7,134221824,0,1,0,0,9,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,998,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90016,4,1,-1,'Nemesis Gloves',34013,7,134221824,0,1,0,0,10,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,998,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90017,4,1,-1,'Nemesis Leggings',29857,7,134221824,0,1,0,0,7,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,998,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90020,4,4,-1,'Judgement Crown',45888,7,134221824,0,1,0,0,1,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,8388616,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,999,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90021,4,4,-1,'Judgement Spaulders',34258,7,134221824,0,1,0,0,3,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,999,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90022,4,4,-1,'Judgement Breastplate',33635,7,134221824,0,1,0,0,5,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,8388616,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,999,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90023,4,4,-1,'Judgement Belt',33633,7,134221824,0,1,0,0,6,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,999,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90024,4,4,-1,'Judgement Sabatons',33639,7,134221824,0,1,0,0,8,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,999,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90025,4,4,-1,'Judgement Bindings',33634,7,134221824,0,1,0,0,9,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,999,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90026,4,4,-1,'Judgement Gauntlets',33636,7,134221824,0,1,0,0,10,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,999,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90027,4,4,-1,'Judgement Legplates',33637,7,134221824,0,1,0,0,7,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,8388616,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,999,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90030,4,2,-1,'Bloodfang Hood',33743,7,134221824,0,1,0,0,1,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,997,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90031,4,2,-1,'Bloodfang Spaulders',33653,7,134221824,0,1,0,0,3,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,997,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90032,4,2,-1,'Bloodfang Chestpiece',33650,7,134221824,0,1,0,0,5,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,997,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90033,4,2,-1,'Bloodfang Belt',31110,7,134221824,0,1,0,0,6,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,997,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90034,4,2,-1,'Bloodfang Boots',31111,7,134221824,0,1,0,0,8,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,997,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90035,4,2,-1,'Bloodfang Bracers',31127,7,134221824,0,1,0,0,9,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,997,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90036,4,2,-1,'Bloodfang Gloves',33651,7,134221824,0,1,0,0,10,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,997,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90037,4,2,-1,'Bloodfang Pants',31115,7,134221824,0,1,0,0,7,-1,-1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,0,NULL,0,0,NULL,0,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,997,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,0),(90040,4,1,-1,'Netherwind Crown',34218,7,134221824,0,1,211623,42324,1,128,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,0,0,0,10,10,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,996,60,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90041,4,1,-1,'Netherwind Mantle',34254,7,134221824,0,1,214012,42802,3,128,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,996,60,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90042,4,1,-1,'Netherwind Robes',34038,7,134221824,0,1,284307,56861,20,128,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,0,10,10,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,996,100,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90043,4,1,-1,'Netherwind Belt',34046,7,134221824,0,1,139475,27895,6,128,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,996,35,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90044,4,1,-1,'Netherwind Boots',34044,7,134221824,0,1,210038,42007,8,128,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,996,50,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90045,4,1,-1,'Netherwind Bindings',34045,7,134221824,0,1,143210,28642,9,128,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,996,35,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90046,4,1,-1,'Netherwind Gloves',34041,7,134221824,0,1,140546,28109,10,128,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,996,35,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90047,4,1,-1,'Netherwind Pants',34039,7,134221824,0,1,283236,56647,7,128,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,0,10,0,0,0,10,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,996,75,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90050,4,1,-1,'Halo of Transcendence',34233,7,134221824,0,1,217204,43440,1,16,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,0,10,0,10,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,995,60,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90051,4,1,-1,'Pauldrons of Transcendence',34048,7,134221824,0,1,219593,43918,3,16,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,995,60,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90052,4,1,-1,'Robes of Transcendence',34047,7,134221824,0,1,291748,58349,20,16,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,0,10,10,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,995,100,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90053,4,1,-1,'Belt of Transcendence',34053,7,134221824,0,1,150767,30153,6,16,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,995,35,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90054,4,1,-1,'Boots of Transcendence',34055,7,134221824,0,1,215619,43123,8,16,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,995,50,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90055,4,1,-1,'Bindings of Transcendence',34052,7,134221824,0,1,151303,30260,9,16,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,995,35,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90056,4,1,-1,'Handguards of Transcendence',34051,7,134221824,0,1,144281,28856,10,16,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,0,0,0,0,0,10,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,995,35,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90057,4,1,-1,'Leggings of Transcendence',34049,7,134221824,0,1,290677,58135,7,16,-1,1,1,0,0,0,0,0,0,0,0,1,0,4,0,7,0,45,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,0,0,0,0,0,10,10,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,995,75,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90060,4,2,-1,'Stormrage Cover',33655,7,134221824,0,1,270555,54111,1,1024,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,31,6,12,7,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,183,0,0,0,10,10,0,0,0,0,21626,1,0,0,-1,0,-1,9316,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,1000,70,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90061,4,2,-1,'Stormrage Legguards',30540,7,134221824,0,1,362079,72415,7,1024,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,26,6,16,7,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,197,0,10,0,0,0,10,0,0,0,18034,1,0,0,-1,0,-1,18379,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,1000,90,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90062,4,2,-1,'Stormrage Chestguard',30536,7,134221824,0,1,356759,71351,5,1024,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,25,6,17,7,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,225,0,10,10,0,0,0,0,0,0,18384,1,0,0,-1,0,-1,18032,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,1000,120,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90063,4,2,-1,'Stormrage Bracers',30548,7,134221824,0,1,183030,36606,9,1024,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,15,6,12,7,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,98,0,0,0,0,0,0,0,0,0,9318,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,1000,40,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90064,4,2,-1,'Stormrage Belt',30541,7,134221824,0,1,182361,36472,6,1024,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,23,6,10,7,12,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,126,0,0,0,0,10,0,0,0,0,9315,1,0,0,-1,0,-1,21618,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,1000,40,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90065,4,2,-1,'Stormrage Handguards',34016,7,134221824,0,1,179700,35940,10,1024,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,19,6,15,7,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,140,0,0,0,0,10,0,0,0,0,18032,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,1000,40,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90066,4,2,-1,'Stormrage Boots',30542,7,134221824,0,1,268546,53709,8,1024,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,17,6,11,7,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,154,0,10,0,0,0,0,0,0,0,18384,1,0,0,-1,0,-1,9315,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,1000,60,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90067,4,2,-1,'Stormrage Pauldrons',30546,7,134221824,0,1,272537,54507,3,1024,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,21,6,10,7,14,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,169,0,10,0,0,0,0,0,0,0,9316,1,0,0,-1,0,-1,21618,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,8,0,0,0,0,1000,70,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90070,4,3,-1,'Helmet of Ten Storms',34217,7,134221824,0,1,341572,68314,1,64,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,24,6,12,7,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,392,0,0,0,10,10,0,0,0,0,18384,1,0,0,-1,0,-1,9415,1,0,0,-1,0,-1,9406,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1001,85,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90071,4,3,-1,'Epaulets of Ten Storms',34255,7,134221824,0,1,340702,68140,3,64,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,17,6,8,7,23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,362,0,10,0,0,0,0,0,0,0,18384,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1001,85,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90072,4,3,-1,'Breastplate of Ten Storms',34081,7,134221824,0,1,416775,83355,5,64,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,31,6,16,7,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,482,0,10,10,0,0,0,0,0,0,14047,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1001,140,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90073,4,3,-1,'Belt of Ten Storms',34078,7,134221824,0,1,225326,45065,6,64,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,18,6,11,7,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,271,0,0,0,0,10,0,0,0,0,18384,1,0,0,-1,0,-1,9315,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1001,50,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90074,4,3,-1,'Legplates of Ten Storms',34084,7,134221824,0,1,453866,90773,7,64,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,18,6,20,7,16,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,422,0,10,0,0,0,10,0,0,0,18384,1,0,0,-1,0,-1,13881,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1001,105,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90075,4,3,-1,'Greaves of Ten Storms',34083,7,134221824,0,1,312760,62552,8,64,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,16,6,16,7,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,332,0,10,0,0,0,0,0,0,0,14799,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1001,70,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90076,4,3,-1,'Bracers of Ten Storms',34079,7,134221824,0,1,224522,44904,9,64,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,16,6,9,7,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,211,0,0,0,0,0,0,0,0,0,18379,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1001,50,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90077,4,3,-1,'Gauntlets of Ten Storms',34082,7,134221824,0,1,206780,41356,10,64,-1,76,1,0,0,0,0,0,0,0,0,1,0,5,17,6,13,7,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,301,0,0,0,0,10,0,0,0,0,21626,1,0,0,-1,0,-1,9398,1,0,0,-1,0,-1,7681,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1001,50,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90080,4,3,-1,'Dragonstalker\'s Helm',34367,7,134221824,0,1,323363,64672,1,4,-1,76,1,0,0,0,0,0,0,0,0,1,0,3,27,5,16,6,8,7,26,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,392,0,0,0,10,10,0,0,0,0,7597,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1002,85,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90081,4,3,-1,'Dragonstalker\'s Spaulders',34091,7,134221824,0,1,322412,64482,3,4,-1,76,1,0,0,0,0,0,0,0,0,1,0,3,23,5,13,6,6,7,15,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,362,0,10,0,0,0,0,0,0,0,15464,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1002,85,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90082,4,3,-1,'Dragonstalker\'s Breastplate',33667,7,134221824,0,1,447482,89496,5,4,-1,76,1,0,0,0,0,0,0,0,0,1,0,3,34,5,14,6,6,7,17,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,482,0,10,10,0,0,0,0,0,0,7597,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1002,140,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90083,4,3,-1,'Dragonstalker\'s Belt',33665,7,134221824,0,1,213187,42637,6,4,-1,76,1,0,0,0,0,0,0,0,0,1,0,3,20,5,13,6,11,7,15,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,271,0,0,0,0,10,0,0,0,0,7597,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1002,50,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90084,4,3,-1,'Dragonstalker\'s Legguards',33672,7,134221824,0,1,429588,85917,7,4,-1,76,1,0,0,0,0,0,0,0,0,1,0,3,31,5,15,6,8,7,16,0,0,0,0,0,0,0,0,0,0,0,0,993,2097160,0,0,0,0,0,0,422,0,10,0,0,0,10,0,0,0,15464,1,0,0,-1,0,-1,7597,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1002,105,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90085,4,3,-1,'Dragonstalker\'s Greaves',34269,7,134221824,0,1,335892,67178,8,4,-1,76,1,0,0,0,0,0,0,0,0,1,0,3,30,5,6,6,6,7,15,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,332,0,10,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1002,70,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90086,4,3,-1,'Dragonstalker\'s Bracers',33666,7,134221824,0,1,212405,42481,9,4,-1,76,1,0,0,0,0,0,0,0,0,1,0,3,23,5,6,6,6,7,13,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,211,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1002,50,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90087,4,3,-1,'Dragonstalker\'s Gauntlets',33668,7,134221824,0,1,216379,43275,10,4,-1,76,1,0,0,0,0,0,0,0,0,1,0,3,20,5,13,6,6,7,17,0,0,0,0,0,0,0,0,0,0,0,0,993,65,0,0,0,0,0,0,301,0,0,0,0,10,0,0,0,0,7597,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,5,0,0,0,0,1002,50,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90090,4,4,-1,'Helm of Wrath',34215,7,134221824,0,1,224501,44900,1,1,-1,76,1,0,0,0,0,0,0,0,0,1,0,7,40,4,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,8388616,0,0,0,0,0,0,696,0,0,0,10,10,0,0,0,0,18185,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,1003,100,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90091,4,4,-1,'Pauldrons of Wrath',34253,7,134221824,0,1,222915,44583,3,1,-1,76,1,0,0,0,0,0,0,0,0,1,0,7,27,4,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,642,0,10,0,0,0,0,0,0,0,23516,1,0,0,-1,0,-1,13385,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,1003,100,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90092,4,4,-1,'Breastplate of Wrath',33983,7,134221824,0,1,302519,60503,5,1,-1,76,1,0,0,0,0,0,0,0,0,1,0,7,40,4,17,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,8388616,0,0,0,0,0,0,857,0,10,10,0,0,0,0,0,0,18185,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,1003,165,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90093,4,4,-1,'Waistband of Wrath',33990,7,134221824,0,1,148074,29614,6,1,-1,76,1,0,0,0,0,0,0,0,0,1,0,7,20,4,20,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,482,0,0,0,0,10,0,0,0,0,13676,1,0,0,-1,0,-1,13385,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,1003,55,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90094,4,4,-1,'Legplates of Wrath',33986,7,134221824,0,1,298263,59652,7,1,-1,76,1,0,0,0,0,0,0,0,0,1,0,7,27,4,19,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,8388616,0,0,0,0,0,0,749,0,10,0,0,0,10,0,0,0,13670,1,0,0,-1,0,-1,18185,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,1003,120,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90095,4,4,-1,'Sabatons of Wrath',33989,7,134221824,0,1,226108,45221,8,1,-1,76,1,0,0,0,0,0,0,0,0,1,0,7,30,4,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,589,0,10,0,0,0,0,0,0,0,23515,1,0,0,-1,0,-1,13385,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,1003,75,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90096,4,4,-1,'Bracelets of Wrath',33982,7,134221824,0,1,147539,29507,9,1,-1,76,1,0,0,0,0,0,0,0,0,1,0,7,27,4,13,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,375,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,1003,55,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90097,4,4,-1,'Gauntlets of Wrath',33984,7,134221824,0,1,150203,30040,10,1,-1,76,1,0,0,0,0,0,0,0,0,1,0,7,20,4,15,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,999,257,0,0,0,0,0,0,535,0,0,0,0,10,0,0,0,0,13665,1,0,0,-1,0,-1,13385,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,6,0,0,0,0,1003,55,0,0,0,0,0,0,0,0,0,0,0,0,225,0,0,0,0,'',65,0,0,0,0,12340),(90098,4,1,-1,'Hood of the Corruptor',42305,7,134221824,0,1,0,0,1,256,32767,133,1,0,0,0,0,0,0,0,0,1,0,7,57,5,33,21,31,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,181,0,0,0,0,0,0,0,0,0,39569,1,0,0,-1,0,-1,0,1,0,0,-1,0,-1,0,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,1004,60,0,0,0,0,1,0,8,0,0,0,2889,0,300,0,0,0,0,'',67,0,0,0,0,12340),(90099,4,1,-1,'Mantle of the Corruptor',42304,7,134221824,0,1,0,0,3,256,32767,133,1,0,0,0,0,0,0,0,0,1,0,7,37,5,24,18,18,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,168,0,0,0,0,0,0,0,0,0,18057,1,0,0,-1,0,-1,0,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,1004,60,0,0,0,0,4,0,4,0,0,0,2900,0,300,0,0,0,0,'',67,0,0,0,0,12340),(90100,4,1,-1,'Robe of the Corruptor',42313,7,134221824,0,1,0,0,20,256,32767,133,1,0,0,0,0,0,0,0,0,1,0,7,48,5,33,18,23,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,223,0,0,0,0,0,0,0,0,0,39569,1,0,0,-1,0,-1,0,1,0,0,-1,0,-1,0,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,1004,100,0,0,0,0,4,0,4,0,4,0,2889,0,300,0,0,0,0,'',67,0,0,0,0,12340),(90101,4,1,-1,'Leggings of the Corruptor',42303,7,134221824,0,1,0,0,7,256,32767,133,1,0,0,0,0,0,0,0,0,1,0,7,48,5,32,21,32,18,24,0,0,0,0,0,0,0,0,0,0,0,0,994,1048584,0,0,0,0,0,0,195,0,0,0,0,0,0,0,0,0,39569,1,0,0,-1,0,-1,0,1,0,0,-1,0,-1,0,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,1004,75,0,0,0,0,4,0,0,0,0,0,2925,0,300,0,0,0,0,'',67,0,0,0,0,12340),(90102,4,1,-1,'Gloves of the Corruptor',42302,7,134221824,0,1,0,0,10,256,32767,133,1,0,0,0,0,0,0,0,0,1,0,7,50,5,24,21,25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,994,33,0,0,0,0,0,0,140,0,0,0,0,0,0,0,0,0,18058,1,0,0,-1,0,-1,0,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,7,0,0,0,0,1004,35,0,0,0,0,0,0,0,0,0,0,0,0,300,0,0,0,0,'',67,0,0,0,0,12340),(90103,4,0,-1,'Pendant of Arcane Mastery',26950,7,134221824,0,1,0,0,2,-1,-1,1,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,371,262144,0,0,0,0,0,0,0,NULL,NULL,NULL,NULL,NULL,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,NULL),(90104,4,0,-1,'Pendant of the Iron Wall',9854,7,134221824,0,1,0,0,2,-1,-1,1,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,371,262144,0,0,0,0,0,0,0,NULL,NULL,NULL,NULL,NULL,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,NULL),(90105,4,0,-1,'Pendant of Swift Strikes',9852,7,134221824,0,1,0,0,2,-1,-1,1,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,371,262144,0,0,0,0,0,0,0,NULL,NULL,NULL,NULL,NULL,NULL,1000,0,0,57353,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,NULL),(90106,4,0,-1,'Signet of Arcane Authority',31576,7,134221824,0,1,0,0,11,-1,-1,1,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,371,262144,0,0,0,0,0,0,0,NULL,NULL,NULL,NULL,NULL,NULL,1000,0,0,71354,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,NULL),(90107,4,0,-1,'Signet of the Bastion',26391,7,134221824,0,1,0,0,11,-1,-1,1,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,371,262144,0,0,0,0,0,0,0,NULL,NULL,NULL,NULL,NULL,NULL,1000,0,0,71354,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,NULL),(90108,4,0,-1,'Signet of Lethal Precision',31905,7,134221824,0,1,0,0,11,-1,-1,1,1,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,371,262144,0,0,0,0,0,0,0,NULL,NULL,NULL,NULL,NULL,NULL,1000,0,0,71354,1,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'',0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,NULL),(90109,1,0,-1,'Bag of Infinite Holdings',64151,7,134221824,0,1,0,0,18,-1,-1,0,0,0,0,0,0,0,0,0,0,1,36,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NULL,NULL,NULL,NULL,NULL,NULL,1000,0,0,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,0,0,0,0,-1,0,-1,7,'A gift from the Titans themselves.',0,0,0,0,0,8,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,-1,0,0,0,0,'',0,0,0,0,0,NULL);
/*!40000 ALTER TABLE `item_template` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-15 20:37:09
